/* Description: CSS  Author: Jason Bond  */



body {
  padding-top: 54px;
  height: 100%;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
  
}
/* Link Editing */
a:link, a:visited { 
    color: grey;
    text-decoration: none;
    cursor: auto;
}

a:link:hover {
  color: brown;
    text-decoration: none;
}
/* spacing */
.space {
  padding-top: 5%;
}

.count{
  padding-left: 40%;
  padding-right: 40%;
}
